Order allow,deny
Allow from all

<Files .ht*>
  Order allow,deny
  Deny from all
</Files>

DirectoryIndex index.php

#AuthType Basic
#AuthName "megiWeb restricted area"
#AuthUserFile  /home/ftpsite/megous.com/www/.htpasswd
