body {
    font-family: "Arial CE", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00487D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
h1 span.title {
    color: #0066B3;
}
h1 span.subtitle {
    font-size: 70%;
}
h2 {
}
code {
    display: block;
}
/*********************/
#all {
    border-top: 20px solid #00487D;
    border-bottom: 20px solid #00487D;
    padding: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E6EDF2;
}
/*********************/
#topmenu {
    padding-top: 10px;
    font-weight: bold;
}
#botmenu {
    border-top: 1px solid black;
    padding-top: 10px;
    text-align: center;
    font-size: 70%;
    margin-top: 10px;
}
