body {
  font-family: verdana;
  font-size: 80%;
}
#all {
  margin: 5px;
  width: 800px;
  border: 1px solid green;
}
#top {
  border-bottom: 6px solid green;
}
#topmenu {
  border-bottom: 1px solid green;
  padding-bottom: 2px;
  padding-left: 4px;
}
#main {
  padding: 5px;
  min-height: 550px;
}
#botmenu {
  border-top: 1px solid green;
  padding-bottom: 2px;
  padding-right: 4px;
  color: gray;
  text-align: right;
  font-size: 80%;
}
.title, .subtitle { 
  padding: 0px;
  margin: 0px;
}
.title { 
  padding-left: 8px;
  padding-bottom: 0.2ex;
  font-size: 220%;
  font-weight: bold;
  color: darkblue;
}
.subtitle { 
  color: darkred;
  text-align: right;
  font-weight: bold;
  float: right;
  padding: 0 4px 0 0;
}
div {
  background-color: lightyellow;
}

h1 {
  color: darkred;
  padding: 0 0 0 1ex;
  margin: 0.5ex 0 0 0;
  font-size: 160%;
}
p, dl, ul, code, table {
  color: #224422;
  padding: 0;
  margin: 0.7ex 0 0 50px;
  line-height: 2.7ex;
}
dl, ul {
  padding-left: 1em;
}
dt {
  font-weight: bold;
  font-style: italic;
  color: darkgreen;
}
dd {
  margin-left: 1em;
}
li {
  list-style: square;
  list-style-position: inside;
  font-style: italic;
}
code {
  border: 1px solid yellow;
  background: white;
  color: black;
  font-family: verdana;
  font-weight: bold;
  padding: 6px;
  display: block;
}
tr, th, td {
  border-top: 1px dashed gray;
  border-left: 1px dashed gray;
  padding: 6px;
}
th { color: darkgreen; }
tr.f { color: white; background: red; font-weight: bold; }
tr.p { color: darkgreen; background: lightgreen; }

#main strong {
  color: green;
}

#topmenu a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
#topmenu a:hover {
  text-decoration: underline;
}
#main a {
  color: green;
  font-style: italic;
}
#main a:hover {
  text-decoration: none;
}
